---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
  	
    {% include sidebar.html %}

    <div class="main-wrapper">
    	<a title="Save as pdf" href="cv.pdf" download="Alexandre Berthon - Resume">
	    	<span class="fa-stack fa-xs save-pdf">
		      <i class="fas fa-circle fa-stack-2x"></i>
		      <i class="fas fa-file-pdf fa-stack-1x fa-inverse"></i>
		    </span>
		</a>
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

